.mapboxgl-popup-close-button {
    background: #03A9F4 !important;
    position: absolute !important;
    top: -10px !important;
    right: -10px !important;
    width: 20px !important;
    height: 20px !important;
    border-radius: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    color: #ffffff !important;
    &:focus{
        outline: none !important;
        box-shadow: none !important;
    }
    &:hover{
        background: #03A9F4 !important;
        opacity: 1 !important;
    }
}

.state-info{
    color: #03a9f4 !important;
    padding-top: 10px !important;
}
