*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus{
    outline: none;
    box-shadow: none;
}

html,
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: $lineHeight150;
  overflow-x: hidden;
  font-size: $bodyFontSize;
  font-family: $bodyFont;
  font-weight: $regular;
  background: $bodyColor;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: $black;
  &:not([class]) {
    text-decoration-skip-ink: auto;
  }
  &:hover{
    text-decoration: none;
    color: $black;
  }
}


img {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


[hidden] {
    display: none;
}


 audio,
 canvas,
 video {
     display: inline-block;
     *display: inline;
     *zoom: 1;
     max-width: 100%;
 }