

$white: rgba(255, 255, 255, 1);

$black: rgba(0, 0, 0, 1);
$black25: rgba(36, 36, 36, 1);
$black50: rgba(51, 51, 51, 1);

$gray3: rgba(250, 250, 250, 1);
$gray5: rgba(244, 244, 244, 1);
$gray10: rgba(230, 230, 230, 1);
$gray25: rgba(191, 191, 191, 1);
$gray50: rgba(0, 0, 0, 0.50);

$primary:#00a69c;

// Button
$buttonBG: #FFB74D;
$buttonText: #212121;

// Body
$bodyColor:$white;
$bodyTextColor:#1F1F1F;

// Footer
$footerBG:#0D0C27;


// Social media color
$facebook:#3b5999;
$messanger:#0084ff;
$twitter:#55acee;
$youtube:#cd201f;
$pinterest:#bd081c;
$whatsapp:#25D366;
$instagram:#e4405f;